# Dayflow Frontend Environment Variables Example
# Copy this file to '.env' and fill in your Firebase API credentials:

VITE_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=dayflow-6684d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dayflow-6684d
VITE_FIREBASE_STORAGE_BUCKET=dayflow-6684d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=394720930977
VITE_FIREBASE_APP_ID=1:394720930977:web:60c2ea9669043384c8d4e0
VITE_FIREBASE_MEASUREMENT_ID=G-2QPWMYM9KQ
